<div class="row">
    <div class="col-lg-3 col-md-12">
        <app-tw-nested-nodes (NodoSeleccionado)="handleVisibleNodes($event)"></app-tw-nested-nodes>

    </div>
    <div class="col-lg-9 col-md-12">
        <mat-card class="daxa-card to-do-list-card mb-25 border-radius border-none d-block" style="background-color: #1275bb;"
            [class.rtl-enabled]="themeService.isRTLEnabled()">
            <mat-card-header >

                <mat-card-subtitle>
                    <div class="row">
                        <div class="col-7">
                            <form class="search-box position-relative d-flex align-items-center">
                                <i class="material-symbols-outlined">
                                    search
                                </i>
                                <input type="text" class="input-search d-block w-100 border-none outline-0"
                                    placeholder="Buscar aqui..." (keyup)="applyFilter($event)" #input>
                                <mat-checkbox #checkArticulo matSuffix matTooltip="Buscar por Artículo"></mat-checkbox>
                            </form>
                        </div>
                        <div class="col-5">
                            <mat-chip-listbox aria-label="Fish selection" [formControl]="chipsControl"
                                style="padding-left: 10px;">
                                <mat-chip-option value="Activas">Activas</mat-chip-option>
                                <mat-chip-option value="Todas">Todas</mat-chip-option>
                            </mat-chip-listbox>
                        </div>
                    </div>
                </mat-card-subtitle>

                <mat-card-subtitle  >
                    

                    <button type="button" mat-button matTooltip="Limpiar todos los campos" (click)="limpiar()">
                        <span class="material-symbols-outlined">
                            clear_all
                        </span>
                    </button>
                    
                    <div class="button-container">
                        <div *ngIf="isLoadingCSV" class="spinner-container">
                            <mat-spinner color="accent"></mat-spinner>
                        </div>
                        <button *ngIf="!isLoadingCSV" type="button" mat-button matTooltip="Descargar Excel" (click)="exportToCSV()">
                            <img src="assets/images/EXCEL.png" width="40px">
                        </button>
                        <div *ngIf="isLoadingPDF" class="spinner-container">
                            <mat-spinner color="accent"></mat-spinner>
                        </div>
                        <button *ngIf="!isLoadingPDF" type="button" mat-button matTooltip="Descargar PDF" (click)="exportToPDF()">
                            <img  src="assets/images/PDF-blanco.png" width="40px">
                        </button>
                        <div *ngIf="isLoadingDocx" class="spinner-container">
                            <mat-spinner color="accent"></mat-spinner>
                          </div>
                        <button *ngIf="!isLoadingDocx" type="button" mat-button matTooltip="Descargar WORD" (click)="exportToDocx()">
                            <img src="assets/images/Impresion.png" width="40px">
                        </button>
                    </div>
                   
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content >
                <div >

                    <div class="table-responsive" >
                        <table mat-table [dataSource]="dataSource" >


                            <ng-container matColumnDef="contenido">
                                <th mat-header-cell *matHeaderCellDef>
                                    Contenido
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span
                                        [innerHTML]="element.content | highlight:input.value"></span><br><br>
                                    <div *ngIf="element?.referencia">Nota: {{element?.referencia}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="estado" *hasRole="['Administrador']">
                                <th mat-header-cell *matHeaderCellDef>
                                    Estado
                                </th>
                                <td mat-cell *matCellDef="let element" class="text-black">
                                    {{element?.state}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef>
                                    Acción
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="action-info">
                                        <button type="button" mat-button matTooltip="Ver" matTooltipPosition="above">
                                            <i class="material-symbols-outlined" (click)="openModal(element)" style="color: #1275bb;">
                                                visibility
                                            </i>
                                        </button>
                                        <button type="button" mat-button matTooltip="Editar" matTooltipPosition="above"
                                            *hasRole="['Administrador']">
                                            <i class="material-symbols-outlined" (click)="abrirEditar(element)">
                                                edit
                                            </i>
                                        </button>
                                        <button type="button" mat-button matTooltip="Derogar" matTooltipPosition="above"
                                            *hasRole="['Administrador']">
                                            <i class="material-symbols-outlined"  (click)="cambiarEstado(element)">
                                                delete
                                            </i>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">"Información no existente"</td>
                            </tr>

                        </table>
                    </div>
                    <mat-paginator #paginator1 [pageSizeOptions]="[3, 6, 12, 18, 50, 100]" showFirstLastButtons></mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>



<div class="add-new-task-popup" [class.active]="classApplied" [class.rtl-enabled]="themeService.isRTLEnabled()">
    <div class="popup-dialog">
        <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        Datos
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button (click)="toggleClass()">
                        <i class="ri-close-fill"></i>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <span [innerHTML]="contenidoSeleccionado?.content"></span><br><br>
            </mat-card-content>
            <mat-card-footer>
                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6">
                        <button mat-stroked-button (click)="abrirHistorial()" style="background-color: #1275bb; color: #ffff;">
                            Ver historial
                        </button>
                    </div>
                    <div class="col-3">

                    </div>
                </div>

            </mat-card-footer>
        </mat-card>
    </div>
</div>


<div class="add-new-task-popup" [class.active]="classApplied1" [class.rtl-enabled]="themeService.isRTLEnabled()">
    <div class="popup-dialog">
        <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
            <mat-dialog-content></mat-dialog-content>
            <mat-card-header >
                <mat-card-title >
                    <h5 class="mt-0 mb-0">
                        Agregar nuevo contenido
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button (click)="toggleClass1()">
                        <i class="ri-close-fill"></i>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <form [formGroup]="form">
                        <div class="col-md-12">
                            <label class="main-label d-block lh-1 text-black">
                                Titulo * 
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    Titulo
                                </mat-label>
                                <input formControlName="titulo" matInput >
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-label>
                                Contenido *
                            </mat-label>
                            <app-editor-quill (contentChanged)="handleEditorContentChanged($event)"
                            [message]="parentMessage" ></app-editor-quill>
                        </div>
                        <div class="col-md-12">
                            <label class="main-label d-block lh-1 text-black">
                                Nota
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    Nota
                                </mat-label>
                                <input formControlName="referencia" matInput
                                    placeholder="Ejm: www.sercop.com/articulo1">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <label class="main-label d-block lh-1 text-black">
                                Estado *
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    Seleccione
                                </mat-label>
                                <mat-select formControlName="estado">
                                    <mat-option value="activo">
                                        Activo
                                    </mat-option>
                                    <mat-option value="derogado">
                                        Derogado
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </div>

                <div class="btn-box">
                    <button mat-button (click)="toggleClass1()">
                        Cancelar
                    </button>
                    <button style="background-color: #1275bb ;color: #ffffff;" mat-button (click)="editar()">
                        Guardar
                    </button>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>